#form-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Add spacing between the rows */
    margin: 10px 0 40px 0; 

}

#form {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space out items within the form */
}

#comment {
    font-weight: bolder;
    display: flex;
    flex-direction: column; /* Stack comment label and input vertically */
    gap: 5px; /* Add space between label and input */
}

#input {
    width: 300px;
    height: 50px;
}

#rating-btn {
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bolder;
    margin-left: 10px; /* Space between the input field and button */
}

/* Add styling for Rate component to ensure it is centered above the comment input */
.ant-rate {
    margin-bottom: 10px; /* Space between the stars and the comment input */
}
