#spaeti-list-container {
  display: flex;
  flex-direction: column;
}

#detail-list-btn {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bolder;
}

#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header-container h1 {
  font-size:xx-large ;
}
#header-container img {
  width: 45%;
  border: 1px solid black;
  border-radius: 5px;
}

#label-container {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

#rating-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#labels {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

#labels > * {
  padding: 3px 6px 4px;
  margin-right: 4px;
  border-radius: 8px;
}

#sterni {
  background-color: black;
  color: white;
  align-self: baseline;
}

#wc {
  background-color: cornflowerblue;
  color: white;
}

#seats {
  background-color: khaki;
  color: black;
}

#sterni img {
  width: 14px;
  vertical-align: middle;
}

#address {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}

#address h3 {
  font-weight: bolder;
}

#address h4 {
  font-weight: 500;
}
