#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #161616;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  /* REMOVE this ↓ */
  /* position: fixed; */
  /* top: 0;
  left: 0;
  right: 0;
  z-index: 1100; */
}


#burger-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

#app-icon-link {
  flex-grow: 1;
  background-color: beige;
  width: 20%;
}

#app-icon {
  color: white;
  margin: 0;
}

#navbar-right{
display: flex;
align-items: center;
justify-content: space-between;
};

#middle-div{
  display: flex;
};
#burger-btn-div{
  display: flex;
}
#logout-button{
  color: white;
}