#sidebar {
  background-color: rgba(69, 99, 51, 0.846);
  width: 10%;
  padding: 0px 15px;
  display: none;
  flex-direction: column;
}

#sidebar-ul {
  margin: 10% 0;
}
#sidebar-ul li {
  margin-bottom: 10px;
}
#sidebar-links {
  text-decoration: none;
  color: rgb(224, 212, 212);
}
