#user-profile-page {
  padding: 20px;
}

#user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-infos {
  width: 70%;
}

#user-infos h3 {
  margin: 0;
}

#user-activity {
  margin-top: 20px;
}

#oneRating{
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px 5px;
}
