body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: larger;
  line-height: 1.5;
  color: white;
  background-color: #6c5a5a;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#spa {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  height: 95vh;
}
